streamlit>=1.0.0
Pillow
langchain-community
langchain
sentence-transformers
faiss-cpu
python-dotenv
plotly
pandas
transformers>=4.0.0
setuptools>=65.5.1  # Inclut distutils
numpy
huggingface-hub

