streamlit
Pillow
datetime
geopandas
folium
streamlit-folium
sqlalchemy
psycopg2-binary
elasticsearch
numpy
dotenv
plotly
pandas
langchain==0.0.222
faiss-cpu==1.7.3
sentence-transformers==2.2.2
transformers==4.27.1

